.terminarz {
    height: 0px;
    padding: 5px;
    cursor: default;

}

    .terminarz .panelNazwyPracownika {
        text-align: center;
        vertical-align: middle;
        background: #ffffff;
    }

.portalPacjenta .terminarz .wolny-termin {
    height: 2%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #5de9e0;
    color: white;
    -moz-transition: 150ms;
    -o-transition: 150ms;
    -webkit-transition: 150ms;
    transition: 150ms;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

    .portalPacjenta .terminarz .wolny-termin:hover {
        opacity: 0.8;
    }

    .portalPacjenta .terminarz .wolny-termin:active {
        opacity: 1;
        background: #5fc2bc;
    }

.portalPacjenta .terminarz .teminarzaPanelRezerwacjiBrakTerminu {
    background: #cccccc;
    height: 40px;
    padding: 5px;
}

.portalPacjenta .terminarz .teminarzaPanelRezerwacji {
    background: #2196F3;
    height: 40px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}


.portalPacjenta .terminarz .terminarzZarezerwowanyTermin {
    background: #f2f2f2;
    color: #d1d1d1;
    height: 40px;
    cursor: not-allowed;
    text-align: center;
    vertical-align: central;
}

.terminarzPanelGodzin {
    width: 10%;
    text-align: center;
}

.terminarz {
    height:40px;
    padding:5px;
}

.terminarz .panelNazwyPracownika{
    text-align:center;
    vertical-align:middle;
    background:#ffffff;
}

.terminarz .wolny-termin {
    height:40px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
}

.terminarz .wolny-termin:hover {
    opacity:0.8;
}

.terminarz .panel-rezerwacji {
    background : #5de9e0;
    color:white;
}

   .terminarz .teminarzaPanelRezerwacjiBrakTerminu{
       background : #f7f7f7;
    height:40px;
    padding:5px;
   }

  .przychodnia .terminarz .teminarzaPanelRezerwacji {
    background : #2196F3;
    height:40px;
    color:white;
    text-align:center;
    vertical-align:middle;
    cursor:default;
}


.przychodnia .terminarz .terminarzZarezerwowanyTermin {
    background: #2196F3;
    height: 40px;
    padding: 2px;
    cursor:pointer;
}

.terminarzPanelGodzin {
    width:10%;
    text-align:center;
}

.kafelekRezerwacji {
    width:100%;
    height:100%;
    min-height: 20px;
    background: #80D8FF;
    border: solid 1px black;
    vertical-align:middle;
    text-align: center;
}

.kafelekRezerwacji span {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    vertical-align:middle;
    font-size:9pt;
    margin:auto;
}

#opcje-terminarza-button{
    width:50px;
    height:50px;
    display: block;
}

    #opcje-terminarza-button img{

    }

#opcje-terminarza-okno {
   display:none;
}

#okno-ustawiania-indywidualnego-grafika {
    padding:50px;
}


#kartaPacjenta {
        display: block;
        margin: 20px;
        visibility:collapse;
        height:0;
}

    #kartaPacjenta label {
        font-size: x-small;
    }



@media all and (max-width: 768px) {

    .buttonFotterContainer input {
        margin: 10px auto;
    }

        .kafelekRezerwacji {
    vertical-align:middle;
    text-align: center;
}

.kafelekRezerwacji span {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    vertical-align:middle;
    font-size:x-small;
    margin:auto;
}
}
/*------------------karta do usuwania pacjenta------------------------*/
#kartaUsuwaniaPacjenta {
    position: fixed;
    justify-content:center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

/*#############  KARTA REZERWACJI  ####################################################################################################################*/

#kartaRezerwacjiWizytyKontener {
    position: fixed;
    justify-content:center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

#kartaRezerwacjiWizyty {
    display:block;
    padding:20px;
    max-width: 700px;
}



#kartaRezerwacjiButtonKontener input{
    margin-top: 30px;
    margin-bottom: 10px;
}

@media all and (max-width:768px) {

    #kartaRezerwacjiWizyty {
        height: 100%;
    }

    #kartaRezerwacjiWizytyDane {
        width: 100%;
        margin-bottom: 10px;
    }

    #kartaRezerwacjiButtonKontener input {
        height: 40px;
        margin-top: 0;
        font-size: small;
    }
}